{% extends 'base.html' %}

{% block title %}Annoucements Samtse Ferro Alloy Limited{% endblock %}

{% load static %}
{% block content %}
<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="text-white display-3 mb-4 ">Annoucements</h1>
            <ol class="breadcrumb justify-content-center mb-0 ">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active text-primary">Announcements</li>
            </ol>
    </div>
</div>
<!-- Header End -->

<!--Career start-->

<div class="container-fluid about py-5">
    <div class="container py-5">
        <div class="section-title mb-0">
            <div class="sub-style px-3 mb-0">
                <h2 class="sub-title pe-3 mb-0">Career at Samtse Ferro Alloy Limited</h2>
            </div>
        </div>
    </div>
</div>

<!--Career 1-->
{% for career in career %}
<div class="container-fluid about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 ">
                <div class="section-title text-start mb-5">
                    <h4 class="sub-title pe-3 mb-0">{{career.title}}</h4>
                    <p class="my-3">{{career.description}}</p>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="about-img ">
                    <img src="{{career.image.url}}" class="img-fluid rounded h-100 w-100 mb-5"
                        style="object-fit: cover;" alt="Image">
                </div>
            </div>
        </div>
    </div>
</div>
{%endfor%}

<!--Hiring Process -->
<div class="container-fluid about py-5">
    <div class="container py-5">
        <div class="section-title mb-0">
            <div class="sub-style px-3 mb-0">
                <h2 class="sub-title pe-3 mb-0">Hiring Process</h2>
            </div>
        </div>
    </div>
</div>
<div class="container my-3">
    <h4 class="sub-title pe-3 mb-0">Hiring Process at Samtse Ferro Alloy Limited</h4>
    <div class="row">
        <p class="my-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat deleniti amet
            at atque sequi quibusdam cumque itaque repudiandae temporibus, eius nam mollitia voluptas
            maxime veniam necessitatibus saepe in ab? Repellat!</p>

    </div>
</div>
<!--End Hiring Process -->

<!--Announcements-->
<div class="container-fluid about py-5">
    <div class="container py-5">
        <div class="section-title mb-0">
            <div class="sub-style px-3 mb-0">
                <h2 class="sub-title pe-3 mb-0">Vacancy</h2>
            </div>
        </div>
    </div>
</div>
<div class="container my-3">
    <h4 class="sub-title pe-3 mb-0">Annoucements</h4>
    <div class="row">
    </div>
</div>
<!-- Blog Start -->
<div class="container-fluid blog py-5">
    <div class="container py-5">
        <div class="row g-4 ">
            {%for announcement in announcement %}
            <div class="col-md-6 col-lg-6 col-xl-4">
                <div class="blog-item rounded">
                    <div class="blog-img">
                        {% if announcement.image %}
                        <img src="{{announcement.image.url}}" class="img-fluid w-100" alt="Image">
                        {%endif%}
                    </div>
                    <div class="blog-centent p-4">
                        <div class="d-flex justify-content-between mb-4">
                            <p class="mb-0 text-muted"><i class="fa fa-calendar-alt text-primary"></i> {{announcement.date}}
                            </p>
                        </div>
                        <a href="#" class="h4">{{announcement.announcement}}</a>
                        <p class="my-4">{{announcement.descriptions}},</p>
                        <a href="{% url 'announcement_detail' announcement.pk %}" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-1">Read More</a>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</div>
<!-- Blog End -->
<br><br><br><br><br><br><br><br><br><br><br><br>


<!--End Annoucements-->

<!--Career Ends-->
{% endblock %}
