{% extends 'base.html' %}

{% block title %}Product - Samtse Ferro Alloy Limited{% endblock %}

{% load static %}
{% block content %}
 <!-- Header Start -->
 <div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h1 class="text-white display-3 mb-4 ">Products</h1>
            <ol class="breadcrumb justify-content-center mb-0 ">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active text-primary">Products</li>
            </ol>
    </div>
</div>
<!-- Header End -->
<!--Products start-->
<div class="container my-5">
    <h4 class="sub-title pe-3 mb-0 my-5">Products</h4>
</div>
<div class="container-fluid about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 ">
                <div class="section-title text-start mb-5">
                    <p class="my-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat deleniti amet
                        at atque sequi quibusdam cumque itaque repudiandae temporibus, eius nam mollitia voluptas
                        maxime veniam necessitatibus saepe in ab? Repellat!</p>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="about-img ">
                    <img src="{% static 'APP/img/image/Silica.webp'%}" class="img-fluid rounded h-100 w-100"
                        style="object-fit: cover;" alt="Image">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <h4 class="sub-title pe-3 mb-0 my-5">Quality</h4>
</div>
<div class="container-fluid about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 ">
                <div class="section-title text-start mb-5">
                    <p class="my-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat deleniti amet
                        at atque sequi quibusdam cumque itaque repudiandae temporibus, eius nam mollitia voluptas
                        maxime veniam necessitatibus saepe in ab? Repellat!</p>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="about-img ">
                    <img src="{% static 'APP/img/image/Quality.png'%}" class="img-fluid rounded h-100 w-100"
                        style="object-fit: cover;" alt="Image">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <h4 class="sub-title pe-3 mb-0 my-5">Packaging</h4>
</div>
<div class="container-fluid about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 ">
                <div class="section-title text-start mb-5">
                    <p class="my-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat deleniti amet
                        at atque sequi quibusdam cumque itaque repudiandae temporibus, eius nam mollitia voluptas
                        maxime veniam necessitatibus saepe in ab? Repellat!</p>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="about-img ">
                    <img src="{% static 'APP/img/image/Packaging.png'%}" class="img-fluid rounded h-100 w-100 mb-5"
                        style="object-fit: cover;" alt="Image">
                </div>
            </div>
        </div>
    </div>
</div>

<!--Products Ends-->
{% endblock %}
